body {
    background-image: url("./img/LobbyBackground.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Press Start 2P', cursive;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.config-container {
    background: rgba(0, 0, 0, 0.8); /* Fondo semitransparente para mejor contraste */
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    border: 4px solid #ffcc00;
    box-shadow: 0px 0px 15px rgba(255, 204, 0, 0.8);
}

h1 {
    font-size: 18px;
    color: #ffcc00;
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    display: block;
    margin-top: 10px;
}

select, input {
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    padding: 8px;
    margin: 5px;
    border: 2px solid #ffcc00; /* Amarillo tipo Bomberman */
    background: black;
    color: white;
    width: 80%;
    text-align: center;
}

button {
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    background: #ff0000; /* Rojo estilo Bomberman */
    color: white;
    border: 3px solid #fff;
    padding: 12px;
    cursor: pointer;
    transition: 0.3s;
    width: 85%;
    margin-top: 20px;
    border-radius: 10px;
}

button:hover {
    background: #ffcc00; /* Cambio a amarillo */
    color: black;
}